<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color">
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="'/'">Banque Alimentaire</a></mdb-navbar-brand>
    
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/'">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/admin'">Partenaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/login'">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/profile'">Profil</a>
            </li>

        </ul>
    </links>
</mdb-navbar>