
<div class="row justify-content-center">
	<div class="col-5">

			<h1 class="align-center" >connexion</h1>

			<div class="form-outline">
				<input type="email" id="typeEmail" class="form-control" />
				<label class="form-label" for="typeEmail">Email input</label>
			</div>

			<div class="form-outline">
				<input type="password" id="typePassword" class="form-control" />
				<label class="form-label" for="typePassword">Password input</label>
			</div>

			<div class="align-center">
          		<button mdbBtn type="button" color="primary" mdbWavesEffect >Connection</button>
        	</div>
			<div class="align-right" >
				<a [routerLink]> Inscription </a>
			</div>
	</div>
  </div>