<div class="container" style="width: 50%; padding-left: 25%; padding-top: 10%;">
	<mat-form-field appearance="legacy" style="width: 45%;">
		<mat-label>Email</mat-label>
		<input matInput type="email">
	</mat-form-field>
	<mat-form-field appearance="legacy" style="width: 45%; padding-left: 9%;">
		<mat-label>Mot de passe</mat-label>
		<input matInput type="password">
	</mat-form-field>
							
	<button mat-icon-button color="accent">
		Se connecter
	</button>

	<br/><br/>

	<mat-form-field appearance="legacy" style="width: 30%;">
		<mat-label>Pseudo</mat-label>
		<input matInput type="email">
	</mat-form-field>
	<mat-form-field appearance="legacy" style="width: 30%; padding-left: 5%;">
		<mat-label>Email</mat-label>
		<input matInput type="email">
	</mat-form-field>
	<mat-form-field appearance="legacy" style="width: 30%; padding-left: 5%;">
		<mat-label>Mot de passe</mat-label>
		<input matInput type="password">
	</mat-form-field>
							
	<button mat-icon-button color="accent">
		S'inscrire
	</button>
</div>