<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Banque Alimentaire</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Accueil </a>
      <a mat-button [routerLink]="'/admin'"> Partenaire </a>
      <a mat-button [routerLink]="'/login'"> Connexion </a>
      <a mat-button [routerLink]="'/profile'"> Profil </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>