body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.leparisien.fr%2Fhigh-tech%2Fvacances-comment-utiliser-google-maps-sans-connexion-04-08-2018-7843170.php&psig=AOvVaw36yh1oriAA5kkkxLwrzEDj&ust=1614615540796000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjw2eL9jO8CFQAAAAAdAAAAABAD");
  
    /* Half height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }