<p>homepage works!</p>

<div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trouve une asso proche de chez toi</h5>
                <div class="form-outline">
                    <input type="text" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Code Postal</label>
                </div>
                <div class="form-outline">
                    <input type="text" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Ville</label>
                  </div>
              <button type="button" class="btn btn-primary">Recherche</button>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <i class="far fa-question-circle fa-3x"></i>
                  <p>petite asso</p>
                  <i class="fas fa-question-circle fa-4x"></i>
                  <p>moyenne asso</p>
                  <i class="fas fa-question-circle fa-5x"></i>
                  <p>grande asso</p>
                </div>
                <div class="col-md">
                  <a href="">
                    <i class="fas fa-question-circle fa-3x"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                  </a>
                  <p>Nombre de bénévole demandé</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md">
        <img src="src/assets/maps.PNG" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>