<!--Main Navigation-->
<header class="intro-header">
	<!--Intro Section-->
	<section class="view intro-2">
		<div class="full-bg-img mask rgba-gradient">
			<div class="container flex-center">
				<div class="row flex-center w-100">

					<div class="col-md-7 col-xl-6 offset-11">
						<mdb-card>
							<mdb-card-body>
								<div class="text-center">
									<h3>Trouve une association<br/>proche de chez toi</h3>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="md-form">
											<input mdbInput type="text" id="typeNumber" class="form-control">
											<label for="typeNumber" class="">Code Postal</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="md-form">
											<input mdbInput type="text" id="form1" class="form-control">
											<label for="form1" class="">Ville</label>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col">
									</div>
									<div class="col-auto">
										<button mdbBtn mdbWavesEffect outline="true" class="outlined-banqalim-button">Rechercher</button>
									</div>
									<div class="col">
									</div>
								</div>
							</mdb-card-body>
						</mdb-card>
					</div>

				</div>
			</div>
		</div>
	</section>

</header>
<!--Main Navigation-->
