<div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trouve une asso proche de chez toi</h5>
              <div class="container">
                <div class="row">
                  <div class="col-md">
                    <div class="md-form">
                      <input mdbInput type="text" id="typeNumber" class="form-control">
                      <label for="typeNumber" class="">Code Postal</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="md-form">
                      <input mdbInput type="text" id="form1" class="form-control">
                      <label for="form1" class="">Ville</label>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary">Recherche</button>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <i class="fas fa-home fa-2x"></i>
                  <p>Petite asso</p>
                  <i class="fas fa-home fa-3x"></i>
                  <p>Moyenne asso</p>
                  <i class="fas fa-home fa-4x"></i>
                  <p>Grande asso</p>
                </div>
                <div class="col-md">
                  <a href="">
                    <i class="fas fa-home fa-3x"></i>
                    <span class="badge rounded-pill bg-dark">1</span>
                  </a>
                  <p>Nombre de bénévole demandé</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md">
        <img src="assets/maps.PNG" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>

  <!--
<div class="md-form">
  <input mdbInput type="text" id="assoname" class="form-control">
  <label for="assoname" class="">Nom de l'association</label>
</div>
-->