<footer class="page-footer font-small orange-background fixed-bottom"> 

	<div class="footer-copyright text-center pt-3 text-white">
		<div class="row">
			<div class="col-7">
				<p>© 2021 - EPSI B1 - Groupe Sandwich <br> Project en Open Source sur <a href="https://github.com/stan1712/BanqueAlimentaire" target="_blank">Github</a></p>
			</div>
			<div class="col-5">
				<div class="inline-ul d-flex justify-content-center">
					<a class="p-2 mx-2 my-0 tw-ic" target="_blank" href="https://www.facebook.com/Banquealimentaire/">
						<mdb-icon fab icon="facebook"></mdb-icon>
					</a>
					<a class="p-2 mx-2 my-0 li-ic" target="_blank" href="https://twitter.com/BanquesAlim">
						<mdb-icon fab icon="twitter"></mdb-icon>
					</a>
					<a class="p-2 mx-2 my-0 ins-ic" target="_blank" href="https://www.instagram.com/banquesalimentaires/">
						<mdb-icon fab icon="instagram"></mdb-icon>
					</a>
					<a class="p-2 mx-2 my-0 ins-ic">
						<mdb-icon fas icon="qrcode"></mdb-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
  
  </footer>