<div class="row">

	<div class="col-lg-4 pb-2">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Ressources Humaines</h3>
				
			</div>
		</div>
	</div>
	<div class="col-lg-4 pb-2">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Mon association</h3>
				
				<div class="md-form">
					<input mdbInput type="text" id="assoname" class="form-control">
					<label for="assoname" class="">Nom de l'association</label>
				</div>

				<h5>Adresse</h5>
				<div class="row">
					<div class="col-5">
						<div class="md-form">
							<input mdbInput type="text" id="street" class="form-control">
							<label for="street" class="">Rue</label>
						</div>
					</div>
					<div class="col-4">
						<div class="md-form">
							<input mdbInput type="text" id="city" class="form-control">
							<label for="city" class="">Ville</label>
						</div>
					</div>
					<div class="col-3">
						<div class="md-form">
							<input mdbInput type="number" id="postalcode" class="form-control">
							<label for="postalcode" class="">Code postal</label>
						</div>
					</div>
				</div>

				<h5>Informations complémentaires</h5>
				<div class="row">
					<div class="col-4">
						<div class="md-form">
							<input mdbInput type="text" id="type" class="form-control">
							<label for="type" class="">Type</label>
						</div>
					</div>
					<div class="col-5">
						<div class="md-form">
							<input mdbInput type="text" id="content" class="form-control">
							<label for="content" class="">Contenu</label>
						</div>
					</div>
					<div class="col mt-3 p-0">
						<button type="button" mdbBtn color="primary" outline="true" rounded="true" mdbWavesEffect>Ajouter</button>
					</div>
				</div>
				<ul>
					<li *ngFor="let info of moreInfos; let i = index">
						{{info.label}} : {{info.content}}
						
						<button mdbBtn (click)="deleteItem(i)" type="button" color="danger" size="sm" mdbWavesEffect>Supprimer</button>
					</li>
				</ul>

				<h5>Description de l'association</h5>
				<div class="md-form">
					<textarea type="text" id="description" class="md-textarea form-control" mdbInput></textarea>
					<label for="description">Description</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 pb-2">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Affichage public</h3>

				<img src="https://picsum.photos/900/400" class="img-fluid pb-2">

				<h4 class="text-center">Bordeaux Nord</h4>

				<h5>Adresse</h5>
				<p>
					Z.I Alfred Daney<br/>
					15 rue Bougainville<br/>
					33300 Bordeaux Nord
				</p>

				<h5>Informations complémentaires</h5>
				<ul>
					<li *ngFor="let info of moreInfos; let i = index">
						{{info.label}} : {{info.content}}
					</li>
				</ul>
				
				<h5>Description</h5>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam culpa saepe, distinctio voluptatum obcaecati cumque nisi dicta autem aliquam recusandae a tempore natus ipsa sequi ut error iusto nam consectetur.
				</p>
			</div>
		</div>
	</div>

</div>