<h1 class="align-center" style="padding-top: 20px;">[Titre de l'association]</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-md">
      
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
<!-- le "footer works!" me stresse a colé le cul de ma div-->
<br>
<p>[informations utiles sur l'association]</p>
<br>
    </div>
      <!-- partie Droite-->
    <div class="col-md" >
          <p class="align-center">Envoyer une demande</p>
  <div class="align-center" >
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" mdbInput>
      <label class="form-check-label" for="materialInline1">Bénéficiaire</label>
    </div>


    <div class="form-check form-check-inline" >
     <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample" mdbInput>
     <label class="form-check-label" for="materialInline2">Bénévole</label>
    </div>
  </div>
<br>
        <div class="align-center">
          <button mdbBtn type="button" color="primary" mdbWavesEffect >Primary</button>
        </div>
    </div>
  </div>
</div>

